/*!
Theme Name: min
Author: Russell Gordon
Author URI: http://marcastudio.com
Description: très min
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
This theme, like WordPress, is licensed under the GPL.
Neat is distributed under the terms of the GNU GPL v2 or later.
*/


/* ----------------------------------------------------------------------------
 * Mixins & Variables
 * ------------------------------------------------------------------------- */

@import "partials/mixins";
@import "partials/variables";

/* ----------------------------------------------------------------------------
 * Normalize & Santize
 * ------------------------------------------------------------------------- */

@import "vendor/normalize";
@import "vendor/sanitize";

/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

//@import "partials/structure";
$highlight: #cf925f;
$cell: #424242;
$bg: #323232;
body {
    background: $bg;
    margin: 0;
    padding: 0;
    // font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1920px;
    max-height: 1080px;
    background: grey;
}

.row {
    text-align: center;
    display: flex;
}

.cell {
    flex: 1;
    // background: $cell;
    padding: 2px 0;
}

.cell.avail {
    background: $cell;
}

.cell.sold {
    background: $highlight;
}

.row.quality .cell {
    background: $highlight;
    padding: 2px 0;
}

.blue {
    color: blue !important;
}
