/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Fonts
 *
 * $f1_lit : "Ubuntu", "sans-serif"; //300
 *
 * ------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$c1 		: #dedede;
$c2 		: #292929;

$w			: #ffffff;
$b			: #000000;
$gb			: #686868;
$g  		: #35ad68;
$y			: #FFFDD2;

$primary: #233746; // blue-grey
$secondary: #7a212e; // burgundy
$highlight: #ec0928; // gross red
$highlightA: rgba(236, 9, 40, 0.6);
$bg: #FFF;